<!DOCTYPE html>
<html>
  <head>
     <meta charset='utf-8' />
  </head>
  <body>
    <div style="color:green"><div style="color:red"/>
      If this characters by Red, it's HTML. Green is XHTML. <br />
      この行の色が赤である場合は HTML です。緑なら XHTML です。
    </div>
  </body>
</html>
