<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" dir="ltr">
  <head>
     <meta content='application/xhtml+xml; charset=utf-8' http-equiv='content' />
  </head>
  <body>
    <div style="color:green"><div style="color:red"/>
      If this line is writted by Red, it's HTML. Green is XHTML. あいうえお
    </div>
  </body>
</html>
